* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right,#f7971e, #ffd200 );
}

h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    color: rgb(61, 24, 97);
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}


.form{
    width: 50%;
    gap: 20px;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 110%;
    height: 40px;
    border-radius: 10px;
    padding-left: 8px;
}

button {
    font-weight: bold;
    width: 60%;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    color: rebeccapurple;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;

}

button:hover{
    color: white;
    background: black;
    transform: scale(1.1);
    transition: all 0.5s;
}

.response{
    height: 100vh;
    width: 50%;
    display: inline-flex;
    float:right;
}

.response h1{
    width: 70%;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#table {
    display: none;
    background-image: linear-gradient(to right,#300824, #3b0d50 );
    color: white;
    width: 100%;
    table-layout: fixed;
    overflow-y: scroll;
    border-collapse: collapse;
    text-align: center;
    border: 5px solid rebeccapurple;
    border-radius: 9px;
    
}

#table th {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#table th,td {
    font-size: calc(2px + 1vw);
    padding-right: calc(7px + 3vw);
    padding-left: calc(7px + 3vw);
    border: 5px solid rebeccapurple;
    border-left: none;
    border-top: none;
}